@import "tailwindcss";

* {
  @apply box-border;
}

html {
  @apply scroll-smooth;
}

body {
  @apply antialiased;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
